--- 
title: BLOG 
permalink: /blog/ 
layout: default_post 
---

<h1 class="blog-headline">Latest blog posts:</h1>
{% assign test = site.data.contentful.spaces.site %}
{% for types in test %}
    {% for type in types %}
        {% if type.first %}
            {% assign posts = type | sort: 'date' | reverse %}
            {% for post in posts %}
                {% if post.title %}
    <div class="post">
        {% if post != posts[0] %}<hr/>{% endif %}
        <header class="post-header">
            <div class="post-author">
                <div class="avatar_text">
                    <span class="post-meta">
                        {{ post.date | date: "%b %-d, %Y" }}
                    </span>
                by
                <!-- <a class="post-author-link" href="{{ post.author.website }}"> -->
                    <span>{{ post.author[0].name }}</span>
                    <!-- </a> -->
                </div>
            </div>
            <h2 class="post-title">
                <a href="{{site.baseurl}}{{ post.date | date: '%Y-%m-%d' }}/{{ post.slug }}">{{ post.title }}</a>
            </h2>
        </header>
    </div>
                {% endif %}
            {% endfor %}
        {% else %}
        {% endif %}
    {% endfor %}
{% endfor %}

<!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->
