---
title: BLOG
permalink: /blog/
layout: default_post
id: 'blog'
---

<div class="post" style="max-width: 740px; margin-left: auto; margin-right: auto;">
        <div class="jpl-block">
          <h1 class="post-title" stule="margin-bottom: 40px">Latest blog posts</h1>
{% assign test = site.data.contentful.spaces.site %}
{% for types in test %}
{% for type in types %}
{% if type.first %}
{% assign posts = type | sort: 'date' | reverse %}
{% for post in posts %}
{% if post.title %}
        {% if post != posts[0] %}<hr/>{% endif %}
        <header class="post-header">
            <h3 class="post-title">
                <a href="{{site.baseurl}}{{ post.date | date: '%Y-%m-%d' }}/{{ post.slug }}">{{ post.title }}</a>
            </h3>
            <div class="post-author">
                <div class="avatar_text" style="text-align: center; padding: 0">
                    <span class="post-meta">
                        {{ post.date | date: "%b %-d, %Y" }}
                    </span>
                by
                <!-- <a class="post-author-link" href="{{ post.author.website }}"> -->
                    <span>{{ post.author[0].name }}</span>
                    <!-- </a> -->
                </div>
            </div>
        </header>
{% endif %}
{% endfor %}
{% else %}
{% endif %}
{% endfor %}
{% endfor %}
</div>
</div>
<!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->
