<header class="site-header">

  <div class="wrapper">
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="logo-container">
          <a href="/">
            <img class="imglogo" src="/assets/jpl-logo.svg">
          </a>
        </div>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
            aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--<a class="navbar-brand" href="#">Project name</a>-->
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              {% for node in site.main_pages %}
                {% if page.id == node.title %}
                  <li class="active">
                    <a href="/{{node.url}}">{{node.title}}</a>
                  </li>
                {% else %}
                  <li><a href="/{{node.url}}">{{node.title}}</a></li>
                {% endif %}
              {% endfor %}
            <li style="">
              <a style="background-color: #f9a870 !important;color: white; font-weight: bold; padding: 0 25px" href="https://goo.gl/33bWR3" alt="JustPeace Labs Ethical Guidelines">Ethical Guidelines</a>
            </li>
          </ul>
        </div>

      </div>
    </nav>
  </div>
</header>
