<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="5000" id="bs-carousel">

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <!-- <li data-target="#bs-carousel" data-slide-to="2"></li> -->
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <!-- <div class="slide-1"></div> -->
      <div id="header-img" class="hero header-img">
        <div class="head-container">
          <div class="motto">
            <h1 class="motto-text">
              Our Work: HateTracker App
            </h1>
          </div>
          <div class="filler"></div>
          <div class="message">
            <div class="screenshots">
              <div id="phone_screenshot">
                <img src="/assets/img/ht_screenshot.png" />
              </div>
            </div>
            <div class="text">
              <div>
                <p class="lead">JustPeace Labs empowers communities to create peace through technology.</p>
                <p>We’re working to build a world where people live in peaceful, inclusive and prosperous societies.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item slides">
      <div id="header-img" class="hero header-img">
        <div class="head-container">
          <div class="motto">
            <h1 class="motto-text">
              Our Work: Ethical Guidelines for Peacetech
            </h1>
          </div>
          <div class="filler"></div>
          <div class="message">
            <div class="screenshots">
              <div id="phone_screenshot">
                <img src="/assets/img/guide_screenshot.png" />
              </div>
            </div>
            <div class="text">
              <div>
                <p class="lead">JustPeace Labs empowers communities to create peace through technology.</p>
                <p>We’re working to build a world where people live in peaceful, inclusive and prosperous societies.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>