<div id="subheader" class="subheader">
  <div class="jumbotron">
    <div id="header-img" class="header-img">
      <div class="head-container">
        <div class="motto">
          <h1 class="motto-text">
            Innovative solutions for lasting peace
          </h1>
        </div>
        <div class="filler"></div>
        <div class="message">
          <div class="screenshots">
            <div id="phone_screenshot">
              <img src="/assets/img/ht_screenshot.png" />
            </div>
          </div>
          <div class="text">
            <div>
              <p class="lead">JustPeace Labs empowers communities to create peace through technology.</p>
              <p>We’re working to build a world where people live in peaceful, inclusive and prosperous societies.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>