<div id="subheader" class="subheader">
  <div class="jumbotron">
    <div class="header-img">
      <div class="container">
	    <div class="motto">

	      	<h1 class="motto-text">
	      		<span class="motto-question">We are thinking:</span>
	      		How could technology help keep women in South Sudan safe from attackers while gathering supplies?
	      	</h1>
	      </div>
       </div>
       <div class="img-attribution">
       		<a href="https://www.flickr.com/photos/oxfameastafrica/13124660375/in/album-72157639820475726/" target="_blank">Image by Oxfam East Africa</a>
       </div>
    </div>
  </div>
</div>
