/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}


/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
  box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

.blog-post-content {
  margin-top: 15px;
  /*font-family: Georgia,"Times New Roman",Times,serif;*/
  color: #555;
  font-size: 17px;
  line-height: 1.5;
}
