/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .page-content .container {
    width: 50em;
  }
}


/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
  box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

.post-title {
  font-size: 28px;
}
.post-content {
  margin-top: 25px;
  color: #333;
  font-size: 18px;
  line-height: 1.4;
  font-family: 'PT Serif', Georgia, serif;
}
