@charset "utf-8";

$footer-height: 200px;

* {
  margin: 0;
}

html {
  position: relative;
  min-height: 100%;
  height: 100%;
}

body {
  height: 100%;
  padding-top: 70px;
  font-family: "Lato", "Helvetica Neue", "Merriweather Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: $brand-color-dark;
  -webkit-font-smoothing: antialiased;
  background-color: white;
  margin-bottom: $footer-height;
}

// body > .container-fluid {
//   padding: $footer-height 15px 0;
// }

h1 {
  font-weight: 300;
}

.headline {
  font-size: 17px;
  font-weight: 500;
}

a {
  color: darken($brand-color-warm, 20%);
  text-decoration: none;
}

p a {
  font-weight: 400;
  text-decoration: underline;
}

hr {
  border-top-color: lighten($brand-color-warm, 20%);
}

.footer {
  // position: absolute;
  // bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footer-height;
  background-color: white;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.footer-container {
  padding-bottom: 3em;
  padding-top: 2em;
  svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
  }
}

.excerpt,
.prose-home {
  padding-bottom: 15px;
}

.pagelink-readmore {
  clear: both;
  display: inline-block;
  text-decoration: none;
  border: 3px solid darken($brand-color-warm, 10%);
  font-weight: 800;
  padding: 10px 15px;
  &:hover,
  &:active {
    background-color: darken($brand-color-warm, 10%);
    color: #fff;
    text-decoration: none;
    transition: all 0.2s linear;
  }
  .footer & {
    display: block;
    margin-bottom: 1em;
    text-align: center;
  }
}

.jumbotron {
  padding: 0;
}

.img-fullwidth {
  width: 100%;
}

.post-title {
  font-weight: lighter;
  margin-top: 3em;
  text-align: center;
}

.container-smaller {
  max-width: 970px;
}

.header-img {
  // background-image: url(/assets/header/13124660375_296f04535f_k.jpg);
  // background-color: $brand-color-dark;
  // position: relative;
  width: 100%;
  height: 100%; // max-height: 400px;
  // height: 40vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}

.header-img-page {
  /*position: absolute;*/
  /*background-attachment: fixed;*/
  /*opacity: 0.5;*/
  background-image: url(/assets/header/big.jpg);
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 15%;
  /* % of width, defines aspect ratio*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.motto {
  margin-top: 40px;
  margin-bottom: 20px;
}

h1.motto-text {
  font-family: "Helvetica Neue", Helvetica, "Merriweather Sans", sans-serif;
  font-size: 2.4em;
  font-weight: 200;
  color: $dark-blue-jpl;
  line-height: 1.4;
  text-align: center; // max-width: 65rem;
  text-transform: uppercase;
  margin-bottom: 40px;
  margin-top: 30px;
  letter-spacing: 0.1em; // transform: translate(0, -50%);
  @media screen and (max-width: 500px) {
    font-size: 1em; // font-size: 24px;
  }
}

.img-attribution {
  font-size: 0.66em;
  color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
}

/*
–––––––––––––––––––––––––––––––––––
 Navigation Bootstrap overrides
*/

.site-header {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1000;
}

body .site-header {
  background-color: #fff;
}

@keyframes navi_minimize {
  from {
    transform: translate(0, -45px);
  }
  to {
    transform: translate(0, 0);
  }
}

body.scrolled .site-header {
  height: 45px;
  position: fixed;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  animation-name: navi_minimize;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
}

.navbar {
  border: none;
  margin: 0;
}

.navbar-nav {
  @media screen and (max-width: 768px) {
    margin: 0 -15px;
  }
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
  height: 70px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: darken($brand-color-warm, 10%);
  font-weight: 400;
  background-color: transparent;
  -webkit-font-smoothing: antialiased;
  padding: 0 30px;
  line-height: 70px !important;
  font-size: 18px;
  @media screen and (max-width: 768px) {
    border-bottom: 1px solid #efefef;
  }
}

.scrolled {
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:focus,
  .navbar-default .navbar-nav > .active > a:hover {
    font-size: 14px;
    line-height: 45px !important;
    padding: 0 25px;
  }
}

.imglogo-footer {
  // width: 200px;
  max-height: 50px;
  margin-top: 7px;
}

.logo-container-footer {
  // float: left; //display:table;
  // height: 70px;
  // width: 300px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

.logo-container {
  float: left; //display:table;
  height: 70px;
  width: 180px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

.scrolled .logo-container {
  width: 30px;
  height: 45px;
  .imglogo {
    width: auto;
    height: 30px;
    margin-top: 7px;
  }
  @media screen and (max-width: 768px) {
    width: 45px;
    height: 45px;
    padding-left: 15px;
    position: absolute;
    left: 50%;
    margin-left: -23px;
  }
}

.navbar-default .navbar-collapse {
  background-color: white;
  border-top: 1px solid #efefef;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  @media screen and (min-width: 768px) {
    box-shadow: none;
    border: none;
  }
}

// mobile toggler
.navbar-default .navbar-toggle {
  border: none;
  padding: 6px 10px;
  margin-right: 10px;
  margin-top: 22px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: $brand-color-warm;
  width: 22px;
  height: 3px;
}

.scrolled .navbar-default .navbar-toggle {
  margin-top: 8px;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

/*
–––––––––––––––––––––––––––––
    Footer
*/

.site-footer {
  position: absolute;
  bottom: 0;
  border-top: 1px solid #333;
  padding: 10px;
  width: 100%;
  background: white;
  height: 50px;
}

.allofit {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px;
}

.alternative {
  width: 100%;
  background-color: #eee;
}

.imglogo {
  float: left;
  margin-top: 3px;
  max-width: 300px;
}

.twitter-logo path {
  fill: #f78a3f;
  a:hover & {
    fill: #fff;
  }
}

.jumbotron {
  margin-bottom: 0;
  background-color: transparent;
}
.main-block {
  min-height:400px;
  background-color: white;
  .narrower-para {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    text-justify: auto;
    line-height: 1.8;
  }
}
.jpl-block {
  padding: 50px;
  background-color: white;
  .narrower-para {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    text-justify: auto;
    line-height: 1.8;
  }
}

.jpl-block-orange {
  padding: 20px;
  background-color: $brand-color-warm;
  color: white;
  margin: 30px 0;
  .narrower-para {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    text-justify: auto;
    line-height: 1.8;
  }
}

.jpl-block-blue {
  padding: 50px;
  background-color: $dark-blue-jpl;
  color: white;
  .narrower-para {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    text-justify: auto;
    line-height: 1.8;
  }
}

.container .whoweare-para {
  font-size: 1.1em;
}

hr {
  margin-left: auto;
  margin-right: auto;
  // display: block;
  height: 3px !important;
  color: $brand-color-warm;
  // background-color: #ed1d61;
  width: 50px
}

.bigHr {
  background-color: $brand-color-warm !important;
  color: $brand-color-warm !important;
  border: solid 2px $brand-color-warm !important;
  height: 1px !important;
  width: 60px !important;
}

.first-block {
  // height: 350px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.author {
  text-align: center;
  .author-name {
    margin-bottom: 0;
  }
  .author-role {
    margin-bottom: 1.5rem;
    font-size: 12px;
  }
  img {
    height: 120px;
  }
}

.section-title {
  width: 100%; // color: #3d4647;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row; // margin: 80px auto;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  opacity: 0.8;
  margin-bottom: 1.5em;
  font-size: 18px;
}

.section-title:after {
  content: "";
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  height: 1px;
  background: #fde4d2;
  -ms-flex-item-align: center;
  align-self: center;
  margin-left: 10px;
}

// .container {
//   //   background-color: white;
//   @media (max-width: 1200px) {
//     width: 1200px;
//   }
//   @media (max-width: 960px) {
//     width: 100%;
//   }
//   @media (max-width: 800px) {
//     width: 100%;
//   }
//   @media (max-width: 640px) {
//     width: 100%;
//   }
//   @media (max-width: 425px) {
//     width: 100%;
//   }
// }

.head-container {
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.message {
  // max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  display: flex;
  flex-flow: row;
  font-size: 14px;
  @media (max-width: 750px) {
    flex-flow: column;
  }
  .text {
    display: flex;
    min-width: 280px; // flex-flow: column;
    align-items: center;
    /* Vertical center alignment */
    padding-left: 20px;
    @media (max-width: 750px) {
      display: none;
      visibility: hidden;
    }
    .lead {
      font-weight: 600;
      font-size: 21px;
    }
    p {
      font-size: 18px;
    }
  }
}

.objective {
  font-size: 3em;
  line-height: 1.2;
  height: 400px;
  text-align: center;
  display: table;
}

.objective-small {
  font-size: 2em;
  line-height: 1.2;
  text-align: center;
  padding: 20px;
}

.objective > div {
  display: table-cell; 
  vertical-align: middle; 
  text-align: center; 
}

// .what-we-do {
//     @media (min-width: 750px) {
//         display: none;
//         visibility: hidden;
//     }
// }

.screenshots {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.filler {
  flex: 1;
  /* 1 and it will fill whole space left if no flex value are set to other children*/
  overflow: auto;
}

.front_sections {
  font-size: 16px;
}

.front-row {
  // display: flex;
  // align-items: center;
  @media screen and (min-width: 750px) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    &:nth-of-type(even) .approach_body {
      position: relative;
      left: -30%;
    }
    &:nth-of-type(even) .approach_illustration {
      position: relative;
      left: 70%;
      .approach_icon {
        text-align: right;
      }
    }
  }
  .approach_illustration {
    @media screen and (min-width: 0px) {
      width: 100%;
    }
    @media screen and (min-width: 750px) {
      width: 30%;
    }
  }
  .approach_body {
    @media screen and (min-width: 0px) {
      width: 100%;
    }
    @media screen and (min-width: 750px) {
      width: 70%;
    }
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.approach_icon {
  width: 100%;
  @media (min-width: 0px) {
    text-align: center;
  }
  @media (min-width: 750px) {
    text-align: left;
  }
  img {
    width: 100px;
    max-width: 100px;
    @media (min-width: 750px) {
      width: 175px;
      max-width: 175px;
      text-align: left;
    }
  }
}

.footer h2 {
  text-transform: uppercase;
}

.svg-canvas {
  height: 100%;
}

#phone_screenshot {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  img {
    // max-width: 400px;
    @media (max-width: 640px) {
      width: 200px;
    }
    @media (max-width: 800px) {
      width: 250px;
    }
    @media (min-width: 800px) {
      width: 350px;
    }
  }
}

/*
Fade content bs-carousel with hero headers
Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
Image credits: unsplash.com
*/

/********************************/

/*       Fade Bs-carousel       */

/********************************/

.fade-carousel {
  position: relative;
  height: 40vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  border-bottom: 1px solid rgba(13, 57, 98, 0.42);
}

.fade-carousel .carousel-inner .item {
  height: 40vh;
}

.fade-carousel .carousel-indicators > li {
  margin: 0 2px;
  background-color: #f39c12;
  border-color: #f39c12;
  opacity: 0.7;
}

.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

.carousel-indicators {
  bottom: none;
  top: 10px;
}

/********************************/

/*          Hero Headers        */

/********************************/

.hero {
  width: 100%; // position: absolute;
  // // top: 50%;
  // left: 50%;
  // bottom: 0;
  z-index: 3; // // color: #fff;
  // // text-align: center;
  // // text-transform: uppercase;
  // // text-shadow: 1px 1px 0 rgba(0,0,0,.75);
  //   -webkit-transform: translate3d(-50%,-50%,0);
  //      -moz-transform: translate3d(-50%,-50%,0);
  //       -ms-transform: translate3d(-50%,-50%,0);
  //        -o-transform: translate3d(-50%,-50%,0);
  //           transform: translate3d(-50%,-50%,0);
}

.hero h1 {
  // font-size: 6em;
  // font-weight: bold;
  margin: 0;
  padding: 0;
}

// .fade-carousel .carousel-inner .item .hero {
//     opacity: 0;
//     -webkit-transition: 1s all ease-in-out .1s;
//        -moz-transition: 1s all ease-in-out .1s;
//         -ms-transition: 1s all ease-in-out .1s;
//          -o-transition: 1s all ease-in-out .1s;
//             transition: 1s all ease-in-out .1s;
// }
// .fade-carousel .carousel-inner .item.active .hero {
//     opacity: 1;
//     -webkit-transition: 1s all ease-in-out .1s;
//        -moz-transition: 1s all ease-in-out .1s;
//         -ms-transition: 1s all ease-in-out .1s;
//          -o-transition: 1s all ease-in-out .1s;
//             transition: 1s all ease-in-out .1s;
// }

.carousel-inner > .item {
  -webkit-transition: -webkit-transform 0.4 ease-in-out;
  -o-transition: -o-transform 0.4 ease-in-out;
  transition: transform 0.4 ease-in-out;
}

/********************************/

/*            Overlay           */

/********************************/

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #080d15;
  opacity: 0.7;
}

/********************************/

/*          Custom Buttons      */

/********************************/

.btn.btn-lg {
  padding: 10px 40px;
}

.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
  color: #f5f5f5;
  background-color: #1abc9c;
  border-color: #1abc9c;
  outline: none;
  margin: 20px auto;
}

/********************************/

/*       Slides backgrounds     */

/********************************/

.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 40vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.fade-carousel .slides .slide-1 {
  //   background-image: url(https://ununsplash.imgix.net/photo-1416339134316-0e91dc9ded92?q=75&fm=jpg&s=883a422e10fc4149893984019f63c818);
}

.fade-carousel .slides .slide-2 {
  //   background-image: url(https://ununsplash.imgix.net/photo-1416339684178-3a239570f315?q=75&fm=jpg&s=c39d9a3bf66d6566b9608a9f1f3765af);
}

.fade-carousel .slides .slide-3 {
  //   background-image: url(https://ununsplash.imgix.net/photo-1416339276121-ba1dfa199912?q=75&fm=jpg&s=9bf9f2ef5be5cb5eee5255e7765cb327);
}

.valign {display:flex;align-items:center;}