* {
  margin: 0;
}

html {
  height: 100%;
}
body {
  height: 100%;
  padding-top: 70px;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: $brand-color-dark;
  -webkit-font-smoothing: antialiased;

  @media screen and (min-width: 480px) and (max-width: 768px) {
    font-size: 18px;
  }

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 18px;
  }
}



h1 {
  font-size: 1.86em;
  line-height: 1.4;
  font-weight: 300;
}

h2 {
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1.4;
  margin-top: 1em;
  margin-bottom: 0.6em;
}

h3 {
  font-size: 1em;
  font-weight: 900;
  line-height: 1.4;
}

p {
  margin-bottom: 1em;
}

a {
  color: darken($brand-color-warm, 20%);
  text-decoration: none;
}

p a {
  font-weight: 400;
  text-decoration: underline;
}

hr {
  border-top-color: lighten($brand-color-warm, 20%);
}

.excerpt,
.prose-home {
  padding-bottom: 15px;
}

.pagelink-readmore {
  clear: both;
  display: inline-block;
  text-decoration: none;
  border: 3px solid darken($brand-color-warm, 10%);
  font-weight: 800;
  padding: 10px 15px;

  &:hover,
  &:active {
    background-color: darken($brand-color-warm, 10%);
    color: #FFF;
    text-decoration: none;
    transition: all .2s linear;
  }

  .footer &{
    display: block;
    margin-bottom: 1em;
    text-align: center;
  }
}

.jumbotron {
  padding: 0;
}

.img-fullwidth {
  width: 100%;
}

.header-img {
  background-image: url(/assets/header/13124660375_296f04535f_k.jpg);
  background-color: $brand-color-dark;
  position:relative;
  width: 100%;
  min-height: 360px;
  height: 66vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header-img-page {
  /*position: absolute;*/
  /*background-attachment: fixed;*/
  /*opacity: 0.5;*/
  background-image:url(/assets/header/big.jpg);
  position:relative;
  width: 100%;
  height: 0;
  padding-bottom: 15% ; /* % of width, defines aspect ratio*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.motto {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;

  @media screen and (max-width: 768px) {
    background-color: rgba(0,0,0,0.33);
  }
}
.motto-question {
  color: $brand-color-warm;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
  display: block;
}

h1.motto-text {
  font-family: 'Merriweather', serif;
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  color: #FFF;
  line-height: 1.4;
  font-weight: 900;
  text-align: left;
  max-width: 65rem;
  text-transform: none;
  margin: 0 auto;
  position: absolute;
  left: 15px;
  right: 15px;
  top: 50%;
  transform: translate(0, -50%);

  @media screen and (min-width: 640px){
    font-size: 24px;
  }
}

.img-attribution {
  font-size: .66em;
  color: #FFF;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
}

/*
–––––––––––––––––––––––––––––––––––
 Navigation Bootstrap overrides
*/

.site-header {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1000;
}

body .site-header {
  background-color: #FFF;
}

@keyframes navi_minimize {
  from {
    transform: translate(0,-45px);
  }
  to {
    transform: translate(0,0);
  }
}

body.scrolled .site-header {
  height: 45px;
  position: fixed;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  animation-name: navi_minimize;
  animation-duration: .2s;
  animation-timing-function: ease-out;

}

.navbar {
  border: none;
  margin: 0;
}

.navbar-nav {
  @media screen and (max-width: 768px) {
    margin: 0 -15px;
  }
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
  height: 70px;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
  color: darken($brand-color-warm, 10%);
  font-weight: 400;
  background-color: transparent;
  -webkit-font-smoothing: antialiased;
  padding: 0 30px;
  line-height: 70px!important;

  @media screen and (max-width: 768px) {
    border-bottom: 1px solid #efefef; 
  }
}

.scrolled {
  
  .navbar-default .navbar-nav>.active>a, 
  .navbar-default .navbar-nav>.active>a:focus, 
  .navbar-default .navbar-nav>.active>a:hover {
    font-size: 14px;
    line-height: 45px!important;
    padding: 0 25px;
  }
}


.logo-container {
  float: left;
  //display:table;
  height: 70px;
  width: 180px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;

  .imglogo {
    width: 145px;
    height: 70px;
    position: absolute;
  }

} 

.scrolled .logo-container {
  width: 30px;
  height: 45px;

  .imglogo {
    width: auto;
    height: 30px;
    margin-top: 7px;
  }

  @media screen and (max-width:768px){
    width: 45px;
    height: 45px;
    padding-left: 15px;
    position: absolute;
    left: 50%;
    margin-left: -23px;
  }

}



.navbar-default .navbar-collapse {
  background-color: #FFF;
  border-top: 1px solid #EFEFEF;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);

  @media screen and (min-width: 768px) {
    box-shadow: none;
    border: none;
  }
}

// mobile toggler

.navbar-default .navbar-toggle {
  border: none;
  padding: 6px 10px;
  margin-right: 10px;
  margin-top: 22px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: $brand-color-warm;
  width: 22px;
  height: 3px;
}

.scrolled .navbar-default .navbar-toggle {
  margin-top: 8px;
}

.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}


/* 
–––––––––––––––––––––––––––––
    Footer 
*/

.site-footer {
  position: absolute;
  bottom: 0;
  border-top: 1px solid #333;
  padding: 10px;
  width: 100%;
  background: white;
  height: 50px;
}

.allofit {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px;
}




.alternative {
  width: 100%;
  background-color: #eee;
}

.imglogo {
  float: left;
  margin-top: 3px;
  max-width: 300px;
}






.footer {

  padding-bottom: 3em;

  svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
  }
}

.twitter-logo path {
  fill: #f78a3f;

  a:hover &{
    fill: #FFF;
  }
}


.jumbotron {
  margin-bottom: 0;
}

.face-picture {
  width: 120px;
  height: auto;
  margin: 15px 5px 10px 20px;
  transform: rotateX(4deg) rotateY(1deg) rotateZ(4deg);
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);
  border: 6px solid #FFF;

  @media screen and (min-width: 1024px) {
    width: 160px;
  }
}

.face-picture.floatright {
  float: right;
}

.face-picture.floatleft {
  float: left;
  margin: 15px 20px 10px 5px;
  transform: rotateX(-4deg) rotateY(-1deg) rotateZ(-4deg);
}


