---
layout: default_post
---
<div class="post">

  <header class="post-header">

    {% if page.author %}

      <div class="post-author"> 
          <div class="avatar_text">
            <span class="post-meta">
              {{ page.date | date: "%b %-d, %Y" }}
            </span>
            by
              <a href="/team/index.html#{{ page.author }}_bio">
              {% case page.author %}
                {% when 'jen' %}
                  <span>Jennifer Easterday</span>
                {% when 'hana' %}
                  <span>Hana Ivanhoe</span>
                {% when 'sergi' %}
                  <span>Sergi Mansilla</span>
                {% else %}
              {% endcase %}
              </a>
          </div>
      </div>

    {% else %}

      <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.meta %} • {{ page.meta }}{% endif %}</p>

    {% endif %}

    <h1 class="post-title">{{ page.title }}</h1>
  
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
