--- 
layout: default_post 
---
<div class="post">

  <header class="post-header">

    <div class="post-author">
      <div class="avatar_text">
        <span class="post-meta">
          {{ page.date | date: "%b %-d, %Y" }}
        </span>
        by
        <!-- <a class="post-author-link" href="{{ post.author.website }}"> -->
          <span>{{ page.author[0].name }}</span>
        <!-- </a> -->
      </div>
    </div>

    <h1 class="post-title">{{ page.title }}</h1>

  </header>

  <article class="post-content">
{% markdown %}
{{ page.body | strip }}
{% endmarkdown %}
  </article>

</div>
